<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>File</th>
			<th>Size</th>
			<th>Log Actions</th>
		</tr>
	</thead>
	<tbody>
	<% if @logs.size < 1 %>
		<tr>
			<td colspan="3">There are currently no log files to list. Feel free to <a href="<%= new_log_path %>">upload one</a>.</td>
		</tr>
	<% else %>
		<% @logs.each do |log| %>
			<tr id="log_<%= log.id %>">
				<td>
					<%= link_to log.logfile, log_path(log) %>
					<br /><%= render :partial => 'logs/loglabels', :locals => { :labels => log.labels } %>
				</td>
				<td><%= number_to_human_size(File.stat(log.logfile.current_path).size) %></td>
				<td>
					<%= link_to raw('<i class="icon-pencil"></i>'), edit_log_path(log), :title => 'Edit log' %>
					<%= link_to raw('<i class="icon-trash"></i>'), log, :method => 'delete', :confirm => 'Are you sure you want to delete this log? This cannot be undone.', :title => 'Delete log' %>
				</td>
			</tr>
		<% end %>
	<% end %>
	</tbody>
</table>