<!DOCTYPE html>
<html>
<head>
  <title>Logmaster5000</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= stylesheet_link_tag    "/javascripts/datatables/css/jquery.dataTables.css", :media => "all" %>  

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/datatables/js/jquery.dataTables.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	  	<div class="container-fluid">
	  		<%= link_to "LogMaster5000.2", logs_path, :class => "brand" %>
	    	<ul class="nav">
	      		<li><%= link_to "Home", logs_path %></li>
	      		<li><%= link_to "Labels", labels_path %></li>
	      	</ul>
			<ul class="nav pull-right">
			<% if session[:user_id] %>
				<% user = User.find session[:user_id] %> 
				<li style="padding:10px 15px 10px;">Welcome, <%= user.email %></li>
				<li class="divider-vertical"></li>
				<li><a href="<%= logout_path %>">Logout</a></li>
			<% else %>
				<li><a href="<%= login_path %>">Login</a></li>
			<% end %>
			</ul>
		</div>
	  </div>
	</div>
	<div class="container-fluid">
		<% if flash[:notice] %>
			<%= render :partial => "layouts/flashmessage", :locals => { :flash => flash } %>
		<% end %>
		<%= yield %>
	</div>
</html>
