<!DOCTYPE html>
<html>
<head>
  <title>Logmaster5000</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= stylesheet_link_tag    "/javascripts/datatables/css/jquery.dataTables.css", :media => "all" %>  

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/datatables/js/jquery.dataTables.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	  	<div class="container-fluid">
	  		<%= link_to "LogMaster5000.2", logs_path, :class => "brand" %>
	    	<ul class="nav">
	      		<li><%= link_to "Home", logs_path %></li>
	      	</ul>
		</div>
	  </div>
	</div>
	<div class="container-fluid">
		<% if flash[:notice] %>
			<%= render :partial => "layouts/flashmessage", :locals => { :flash => flash } %>
		<% end %>
		<%= yield %>
	</div>
</html>
